# Assignment: Exploring Data

Hi,

The marketing team would like to share out the five happiest countries of the 2010s on social media.
I’ve attached a notebook that another data scientist started with happiness data inside. I would recommend:
* Creating a list of each country’s highest happiness score, and then sorting it from happiest to least happy country
* Creating a list of each country’s average happiness score, and then sorting it from happiest to least happy country

Are there any differences between the two lists?

Thanks!\
Anna

## Read in the data

In [2]:
# import the data 
import numpy as np
import pandas as pd
import seaborn as sns

df = pd.read_csv('../Data/happiness_survey_data.csv')
df.head()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Afghanistan,2008,3.723590,0.450662,0.718114,50.500000
1,Afghanistan,2009,4.401778,0.552308,0.678896,50.799999
2,Afghanistan,2010,4.758381,0.539075,0.600127,51.099998
3,Afghanistan,2011,3.831719,0.521104,0.495901,51.400002
4,Afghanistan,2012,3.782938,0.520637,0.530935,51.700001

In [2]:
# there are 2089 rows and 6 columns of data
df.shape

(2089, 6)

In [3]:
# the years range from 2005 - 2021
# happiness scores range from 2 - 8
df.describe()

,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
count,2089.000000,2089.000000,2076.000000,2057.000000,2031.000000
mean,2013.727621,5.473747,0.811542,0.745462,63.180326
std,4.455614,1.115567,0.118935,0.140751,6.948546
min,2005.000000,2.178809,0.290184,0.257534,6.720000
25%,2010.000000,4.651972,0.747664,0.651689,58.965000
50%,2014.000000,5.405246,0.834770,0.767357,64.980003
75%,2017.000000,6.294282,0.904682,0.857677,68.362499
max,2021.000000,8.018934,0.987343,0.985178,74.349998

## Explore the data

In [13]:
# Filter out any data before 2010 and after 2019
df_filter = df[(df.year < 2010) | (df.year > 2019)]
df_filter.head()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Afghanistan,2008,3.723590,0.450662,0.718114,50.500000
1,Afghanistan,2009,4.401778,0.552308,0.678896,50.799999
12,Afghanistan,2021,2.436034,0.454175,0.394306,54.549999
13,Albania,2007,4.634252,0.821372,0.528605,66.760002
14,Albania,2009,5.485470,0.833047,0.525223,67.320000

In [17]:
# Group the data by country and calculate the maximum happiness score for each one
df_gr = df_filter.groupby('country_name')['happiness_score'].max().to_frame()
df_gr

              happiness_score
country_name
Afghanistan          4.401778
Albania              5.485470
Algeria              5.437755
Argentina            6.424133
Armenia              5.300569
...                       ...
Venezuela            7.188803
Vietnam              5.540250
Yemen                4.809259
Zambia               5.260361
Zimbabwe             4.055914

[154 rows x 1 columns]

In [22]:
# Sort the grouped countries by happiness score and return the top five
df_sort = df_gr.sort_values(by = 'happiness_score', ascending= False)[:5]
df_sort

              happiness_score
country_name
Denmark              8.018934
Finland              7.889350
Norway               7.632288
Netherlands          7.631012
Costa Rica           7.614929

In [24]:
# Group the data by country and calculate the average happiness score for each one
df_mean = df_filter.groupby('country_name')['happiness_score'].mean().to_frame()
df_mean

              happiness_score
country_name
Afghanistan          3.520468
Albania              5.185028
Algeria              5.327386
Argentina            6.096683
Armenia              4.660190
...                       ...
Venezuela            6.137121
Vietnam              5.417105
Yemen                4.643196
Zambia               4.455587
Zimbabwe             3.441846

[154 rows x 1 columns]

In [26]:
# Sort the grouped countries by happiness score and return the top five
df_filter.groupby('country_name')['happiness_score'].mean().sort_values(ascending= False).to_frame()

              happiness_score
country_name
Denmark              7.786799
Finland              7.756701
Netherlands          7.473094
Switzerland          7.458470
Norway               7.424894
...                       ...
Afghanistan          3.520468
Sierra Leone         3.481214
Comoros              3.476027
Zimbabwe             3.441846
Togo                 3.348943

[154 rows x 1 columns]